.c-selected-jokes-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    &__heading {
        margin-bottom: 3rem;
    }

    &__body {
        padding: 3rem 2.25rem;
    }

    &__content {
        max-height: 28rem;
        overflow: auto;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 6rem;
    }
}
