.c-joke-card {
    padding: 1.5rem;

    &__joke {
        margin-bottom: 1.5rem;
    }

    &__link {
        color: #fff !important;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
