.c-header {
    &__toolbar {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        margin-left: 1rem;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }
}
