.c-logout-component {
    &__card {
        padding: 3rem 1.5rem;
    }

    &__actions {
        display: flex;
        justify-content: center;
    }

    &__link {
        display: inline-block;
        margin-left: 1rem;
        text-decoration: none;
    }
}
