.c-footer {
    $footer-primary: #1976d2;
    $footer-seconday: #ccc;
    $footer-white: #fff;

    background-color: $footer-primary;
    padding: 1.5rem 0 0.75rem;
    border-top: 2px solid $footer-seconday;

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        margin: 0 auto;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        color: $footer-white;
        text-decoration: none;
        transition: color 300ms ease-in-out;

        &:hover {
            color: $footer-seconday;
        }
    }
}
