.c-joke-page {
    &__card {
        padding: 3rem;
    }

    &__link {
        color: inherit;
        text-decoration: none !important;

        &--error {
            display: inline-block;
            margin-top: 1.5rem;
        }
    }
}
